<div class="border border-gray-300 p-5 rounded-md mb-4">
  <div class="mb-1"><%= issue_link %></div>
  <div class="text-sm text-gray-500 mb-1">
    #<%= number %> · <%= time_text %>
  </div>

  <div class="text-xs text-gray-500">
    <%= repo_name %>
  </div>
</div>

