---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/issues?per_page=100&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_PERSONAL_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72447ee234f7629b0eefe70ec02e150b3b6af66cc2328199bc52fa8d0b294fcc"
      Github-Authentication-Token-Expiration:
      - '2025-03-04 00:09:55 +0800'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1738448371'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/3","repository_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test","labels_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/3/comments","events_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/3/events","html_url":"https://github.com/Randomizor-Playground/zero41-test/issues/3","id":2825367086,"node_id":"I_kwDONy17is6oZ64u","number":3,"title":"Test
        Open Issue 2","user":{"login":"randomizor","id":1047142,"node_id":"MDQ6VXNlcjEwNDcxNDI=","avatar_url":"https://avatars.githubusercontent.com/u/1047142?v=4","gravatar_id":"","url":"https://api.github.com/users/randomizor","html_url":"https://github.com/randomizor","followers_url":"https://api.github.com/users/randomizor/followers","following_url":"https://api.github.com/users/randomizor/following{/other_user}","gists_url":"https://api.github.com/users/randomizor/gists{/gist_id}","starred_url":"https://api.github.com/users/randomizor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/randomizor/subscriptions","organizations_url":"https://api.github.com/users/randomizor/orgs","repos_url":"https://api.github.com/users/randomizor/repos","events_url":"https://api.github.com/users/randomizor/events{/privacy}","received_events_url":"https://api.github.com/users/randomizor/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"randomizor","id":1047142,"node_id":"MDQ6VXNlcjEwNDcxNDI=","avatar_url":"https://avatars.githubusercontent.com/u/1047142?v=4","gravatar_id":"","url":"https://api.github.com/users/randomizor","html_url":"https://github.com/randomizor","followers_url":"https://api.github.com/users/randomizor/followers","following_url":"https://api.github.com/users/randomizor/following{/other_user}","gists_url":"https://api.github.com/users/randomizor/gists{/gist_id}","starred_url":"https://api.github.com/users/randomizor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/randomizor/subscriptions","organizations_url":"https://api.github.com/users/randomizor/orgs","repos_url":"https://api.github.com/users/randomizor/repos","events_url":"https://api.github.com/users/randomizor/events{/privacy}","received_events_url":"https://api.github.com/users/randomizor/received_events","type":"User","user_view_type":"public","site_admin":false},"assignees":[{"login":"randomizor","id":1047142,"node_id":"MDQ6VXNlcjEwNDcxNDI=","avatar_url":"https://avatars.githubusercontent.com/u/1047142?v=4","gravatar_id":"","url":"https://api.github.com/users/randomizor","html_url":"https://github.com/randomizor","followers_url":"https://api.github.com/users/randomizor/followers","following_url":"https://api.github.com/users/randomizor/following{/other_user}","gists_url":"https://api.github.com/users/randomizor/gists{/gist_id}","starred_url":"https://api.github.com/users/randomizor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/randomizor/subscriptions","organizations_url":"https://api.github.com/users/randomizor/orgs","repos_url":"https://api.github.com/users/randomizor/repos","events_url":"https://api.github.com/users/randomizor/events{/privacy}","received_events_url":"https://api.github.com/users/randomizor/received_events","type":"User","user_view_type":"public","site_admin":false}],"milestone":null,"comments":0,"created_at":"2025-02-01T18:47:16Z","updated_at":"2025-02-01T18:47:19Z","closed_at":null,"author_association":"MEMBER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"repository":{"id":925727626,"node_id":"R_kgDONy17ig","name":"zero41-test","full_name":"Randomizor-Playground/zero41-test","private":false,"owner":{"login":"Randomizor-Playground","id":197402800,"node_id":"O_kgDOC8QgsA","avatar_url":"https://avatars.githubusercontent.com/u/197402800?v=4","gravatar_id":"","url":"https://api.github.com/users/Randomizor-Playground","html_url":"https://github.com/Randomizor-Playground","followers_url":"https://api.github.com/users/Randomizor-Playground/followers","following_url":"https://api.github.com/users/Randomizor-Playground/following{/other_user}","gists_url":"https://api.github.com/users/Randomizor-Playground/gists{/gist_id}","starred_url":"https://api.github.com/users/Randomizor-Playground/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Randomizor-Playground/subscriptions","organizations_url":"https://api.github.com/users/Randomizor-Playground/orgs","repos_url":"https://api.github.com/users/Randomizor-Playground/repos","events_url":"https://api.github.com/users/Randomizor-Playground/events{/privacy}","received_events_url":"https://api.github.com/users/Randomizor-Playground/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/Randomizor-Playground/zero41-test","description":"Test
        App for Zero41 Task","fork":false,"url":"https://api.github.com/repos/Randomizor-Playground/zero41-test","forks_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/forks","keys_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/teams","hooks_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/hooks","issue_events_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/events{/number}","events_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/events","assignees_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/assignees{/user}","branches_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/branches{/branch}","tags_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/tags","blobs_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/statuses/{sha}","languages_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/languages","stargazers_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/stargazers","contributors_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/contributors","subscribers_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/subscribers","subscription_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/subscription","commits_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/contents/{+path}","compare_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/merges","archive_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/downloads","issues_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues{/number}","pulls_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/pulls{/number}","milestones_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/milestones{/number}","notifications_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/labels{/name}","releases_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/releases{/id}","deployments_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/deployments","created_at":"2025-02-01T15:50:22Z","updated_at":"2025-02-01T20:02:32Z","pushed_at":"2025-02-01T20:02:29Z","git_url":"git://github.com/Randomizor-Playground/zero41-test.git","ssh_url":"git@github.com:Randomizor-Playground/zero41-test.git","clone_url":"https://github.com/Randomizor-Playground/zero41-test.git","svn_url":"https://github.com/Randomizor-Playground/zero41-test","homepage":null,"size":61,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},"body":"Second
        open issue :)","reactions":{"url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/3/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/3/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/2","repository_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test","labels_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/2/comments","events_url":"https://api.github.com/repos/Randomizor-Playground/zero41-test/issues/2/events","html_url":"https://github.com/Randomi[...]
